body {
  margin: 0;
  font-family: 'Poppins', sans-serif  ;
  background-color:'#171717' ;
}
a{
  text-decoration: none;
}
.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.505);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

code {
  font-family: 'Poppins', sans-serif ;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  color: white !important;
}
.css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel{
  color: white !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  color: white !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
  color: #00FF66 !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
  color: #00FF66 !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root{
  color: darkgreen !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  color: #d7d7d7 !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: #d7d7d7 !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
  color: #f8f8f8 !important;
}
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
  color: #d7d7d7 !important;
}
.css-10mg1vw-MuiStepper-root{
  width: 600px;
}

@media (max-width:600px) {
  .css-10mg1vw-MuiStepper-root{
    width: 90%;
  }
}
@media (max-width:900px) {
  .css-10mg1vw-MuiStepper-root{
    width: 90%;
  }
}
@media (max-width:1200px) {
  .css-10mg1vw-MuiStepper-root{
    width: 400px;
  }
}
.css-1yhkzzl{
  margin-top: 10% !important;
}